<div class="field">
    <label>Name</label>
    <div class="control">
        <input class="input" type="text" name="name" value="{{ employee.name ?? '' }}" required>
    </div>
</div>
<div class="field">
    <label>Email</label>
    <div class="control">
        <input class="input" type="email" name="email" value="{{ employee.email ?? '' }}" required>
    </div>
</div>
<div class="field">
    <label>Phone</label>
    <div class="control">
        <input class="input" type="text" name="phone" value="{{ employee.phone ?? '' }}" required>
    </div>
</div>
<div class="field">
    <label>Department</label>
    <div class="control">
        <input class="input" type="text" name="department" value="{{ employee.department ?? '' }}">
    </div>
</div>
<div class="field">
    <label>Job Title</label>
    <div class="control">
        <input class="input" type="text" name="job_title" value="{{ employee.job_title ?? '' }}">
    </div>
</div>
<div class="field">
    <label>Contract Type</label>
    <div class="control">
        <input class="input" type="text" name="contract_type" value="{{ employee.contract_type ?? '' }}">
    </div>
</div>
<div class="field">
    <label>National ID</label>
    <div class="control">
        <input class="input" type="text" name="national_id" value="{{ employee.national_id ?? '' }}">
    </div>
</div>
<div class="field">
    <label>Tax ID</label>
    <div class="control">
        <input class="input" type="text" name="tax_id" value="{{ employee.tax_id ?? '' }}">
    </div>
</div>
<div class="field">
    <label>SSN</label>
    <div class="control">
        <input class="input" type="text" name="ssn" value="{{ employee.ssn ?? '' }}">
    </div>
</div>
<div class="field">
    <label>NHIMA Number</label>
    <div class="control">
        <input class="input" type="text" name="nhima_number" value="{{ employee.nhima_number ?? '' }}">
    </div>
</div>
