{% extends 'partials/base.twig' %}
{% block content%}
    {#Main section from side bar on the right #}
    <div id="main-content" class="container-fluid">
        <!-- Top Navigation Bar -->
        <div class="columns">
            <div class="column is-12">

                <section class="section is-small mt-6">
                    <nav class="breadcrumb box has-background-warning" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="is-size-5 has-text-white">Home</a></li>
                            <li><a class=" is-size-5 has-text-white">{{ title }}</a></li>
                        </ul>
                    </nav>
                    {% if userData.role in ['user', 'company'] %}
                        <div class="columns is-multiline">
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-info is-size-5-mobile is-size-4-tablet is-size-4-desktop">Loans ({{ totalByUser }})</p>
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box ">
                                    <p class="title has-text-success is-size-5-mobile is-size-4-tablet is-size-4-desktop">Paid ({{ paidCountByUser }})</p>
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-link is-size-5-mobile is-size-4-tablet is-size-4-desktop">Pending ({{ repaymentByUser }})</p>
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-primary is-size-5-mobile is-size-4-tablet is-size-4-desktop">Disbursed ({{ disbursedCountByUser }})    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if userData.role in ['superuser', 'admin'] %}
                        <div class="columns is-multiline">
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-info is-size-6-mobile is-size-6-tablet is-size-5-desktop" >
                                        Active Loans
                                        (<span id="totalLoans" data-target="{{ totalLoans }}">0</span>)
                                    </p>
{#                                    <hr>#}
{#                                    <p class="heading mt-2 is-size-6-mobile is-size-6-tablet is-size-5-desktop has-text-info"#}
{#                                       id="totalLoansAmount" data-target="{{ totalLoansAmount }}">0</p>#}
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box ">
                                    <p class="title has-text-success is-size-6-mobile is-size-6-tablet is-size-5-desktop">
                                        Paid
                                        (<span id="totalPaid" data-target="{{ totalPaid }}">0</span>)
                                    </p>
{#                                    <hr>#}
{#                                    <p class="heading has-text-success mt-2 is-size-6-mobile is-size-6-tablet is-size-5-desktop" id="totalPaidAmount" data-target="{{ totalPaidAmount }}">0</p>#}
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-danger is-size-6-mobile is-size-6-tablet is-size-5-desktop">
                                        Overdue
                                        (<span id="totalDue" data-target="{{ totalDue }}">0</span>)
                                    </p>
{#                                    <hr>#}
{#                                    <p class="heading has-text-danger mt-2 is-size-6-mobile is-size-6-tablet is-size-5-desktop" id="totalDueAmount" data-target="{{totalDueAmount }}">0</p>#}
                                </div>
                            </div>
                            <div class="column is-one-quarter ">
                                <div class="box">
                                    <p class="title has-text-link is-size-6-mobile is-size-6-tablet is-size-5-desktop">
                                        Repayment
                                        (<span id="totalRepayment" data-target="{{ totalRepayment }}">0</span>)
                                    </p>
{#                                    <hr>#}
{#                                    <p class="heading has-text-link mt-2 is-size-6-mobile is-size-6-tablet is-size-5-desktop" id="totalRepaymentAmount" data-target="{{ totalRepaymentAmount }}">0</p>#}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="columns mt-5">
                        <div class="column is-12">
{#                            {% endif %}#}
                            <div class="table-container box">
                                <p class="title is-size-6 mt-2 mb-4">Applications in the last 7 Days</p>
                                <table id="application-table" class="table is-centered is-responsive is-striped is-fullwidth is-hoverable">
                                    <thead>
                                    <tr>
                                        <th class="is-size-7">Application #</th>
                                        <th class="is-size-7">Amount</th>
                                        <th class="is-size-7">Total</th>
                                        <th class="is-size-7">Period</th>
                                        <th class="is-size-7">Status</th>
                                        <th class="is-size-7">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if lastSevenDays %}
                                        {% for item in lastSevenDays %}
                                            <tr>
                                                <td class="is-size-7">{{ item.applicationNumber }}</td>
                                                <td class="is-size-7">{{ item.amount | number_format(2, '.', ',') }}</td>
                                                <td class="is-size-7">{{ item.totalPayable | number_format(2, '.', ',') }}</td>
                                                <td class="is-size-7">{{ item.period }}</td>
                                                <td class="is-size-7">
                                                    {% if item.status is same as('') or item.status is null %}
                                                        <p class="has-text-warning">Loan Submission</p>
                                                    {% elseif item.status is same as('1') %}
                                                        <p class="has-text-success">Loan Approved</p>
                                                    {% elseif item.status is same as('2') %}
                                                        <p class="has-text-info">Loan Disbursed</p>
                                                    {% elseif item.status is same as('3') %}
                                                        <p class="has-text-danger">Loan Rejected</p>
                                                    {% elseif item.status is same as('4') %}
                                                        <p class="has-text-danger">Loan Cancelled</p>
                                                    {% elseif item.status is same as('5') %}
                                                        <p class="has-text-link">Loan Repayment</p>
                                                    {% elseif item.status is same as('6') %}
                                                        <p class="has-text-success">Loan Paid</p>
                                                    {% endif %}
                                                </td>
                                                <td class="is-size-6">
                                                    <a href="/dashboard/loan/{{ item.uuid }}" class="has-text-info" title="Preview">
                                                        <i class="mdi mdi-eye is-size-4"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6" class="has-text-centered">No loan product added yet</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
{#                        {% if userData.role in ['superuser', 'admin'] %}#}
{#                        <div class="column is-5">#}
{#                            <div class="box">#}
{#                                <p class="title is-size-6 mb-4">Loan Overview</p>#}
{#                                <canvas id="loanChart" height="250"></canvas>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="column is-7">#}
{#                            {% else %}#}
{#                            //Paste the table here#}
{#                        </div>#}
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            function animateCount(el, target, prefix = "", suffix = "", duration = 2000, isMoney = false) {
                let start = 0;
                let current = start;
                const frameRate = 30; // updates per second
                const totalFrames = Math.round(duration / (1000 / frameRate));
                const increment = target / totalFrames;

                const timer = setInterval(() => {
                    current += increment;

                    if (current >= target) {
                        current = target;
                        clearInterval(timer);
                    }

                    const display = isMoney
                        ? prefix + current.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + suffix
                        : prefix + Math.floor(current) + suffix;

                    el.textContent = display;
                }, 1000 / frameRate);
            }

            const totalPaidEl = document.getElementById("totalPaid");
            const totalPaidAmountEl = document.getElementById("totalPaidAmount");
            const totalRepaymentEl = document.getElementById('totalRepayment');
            const totalRepaymentAmount = document.getElementById('totalRepaymentAmount');
            const totalLoans = document.getElementById('totalLoans');
            const totalLoansAmount = document.getElementById('totalLoansAmount');



            if (totalPaidEl) {
                const target = parseInt(totalPaidEl.dataset.target);
                animateCount(totalPaidEl, target);
            }

            if (totalPaidAmountEl) {
                const targetAmount = parseFloat(totalPaidAmountEl.dataset.target);
                animateCount(totalPaidAmountEl, targetAmount, "ZMW ", "", 2000, true);
            }

            if (totalRepaymentEl){
                const target = parseFloat(totalRepaymentEl.dataset.target);
                animateCount(totalRepaymentEl, target);
            }

            if (totalRepaymentAmount){
                const targetAmount = parseFloat(totalRepaymentAmount.dataset.target);
                animateCount(totalRepaymentAmount, targetAmount, "ZMW ", "", 2000, true);
            }

            if (totalLoans){
                const target = parseFloat(totalLoans.dataset.target);
                animateCount(totalLoans, target);
            }

            if (totalLoansAmount){
                const targetAmount = parseFloat(totalLoansAmount.dataset.target);
                animateCount(totalLoansAmount, targetAmount, "ZMW ", "", 2000, true);
            }

        });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const ctx = document.getElementById('loanChart').getContext('2d');

            const loanChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Active Loans', 'Paid', 'Overdue', 'Repayment'],
                    datasets: [{
                        label: 'Loan Counts',
                        data: [
                            parseInt("{{ totalLoans }}"),
                            parseInt("{{ totalPaid }}"),
                            parseInt("{{ totalDue }}"),
                            parseInt("{{ totalRepayment }}")
                        ],
                        backgroundColor: [
                            '#209CEE', // blue
                            '#23D160', // green
                            '#FF3860', // red
                            '#3273DC'  // darker blue
                        ],
                        borderColor: [
                            '#209CEE',
                            '#23D160',
                            '#FF3860',
                            '#3273DC'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}