{% extends 'partials/base.twig' %}
{% block content %}
    <div id="main-content" class="container-fluid">
        <div class="columns">
            <div class="column is-12">
                <section class="section is-small mt-6">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a class="is-size-5 has-text-link">Home</a></li>
                            <li><a class="is-size-5 has-text-link">{{ title }}</a></li>
                        </ul>
                    </nav>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="box">
                                    <p>Allowances</p>
                                    <hr>
                                    <div class="level mb-4">
                                        <div class="level-left">
                                            <button class="button is-small is-success " onclick="openModal('allowanceModal')">
                                                <span class="mdi mdi-plus"></span>
                                                Add Allowance
                                            </button>
                                        </div>
                                    </div>

                                    {% if errors|length > 0 %}
                                        <div class="notification is-danger" id="errorNotification">
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if success %}
                                        <div class="notification is-success" id="successNotification">
                                            {{ success }}
                                        </div>
                                    {% endif %}

                                    <div class="table-container">
                                        <table id="myTable" class="table is-fullwidth is-hoverable is-striped is-bordered is-narrow">
                                            <thead>
                                            <tr class="is-size-7">
                                                <th>Employee ID</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Create At</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in allowances %}
                                                <tr>
                                                    <td>{{ item.employee_id }}</td>
                                                    <td>{{ item.type }}</td>
                                                    <td>{{ item.amount }}</td>
                                                    <td>{{ item.amount }}</td>
                                                    <td>{{ item.created_at | date('d F, Y') }}</td>
                                                    <td>
                                                        <button class="button is-small is-info" onclick="openModal('editModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-pencil"></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="button is-small is-danger" onclick="openModal('deleteModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-trash-can"></span>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <!-- Edit Modal -->
                                                <div id="editModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-warning">
                                                            <p class="modal-card-title has-text-white">Edit Salary</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('editModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <form action="/dashboard/salary/update" method="post">
                                                                <input type="hidden" name="id" value="{{ employee.id }}">
                                                                {% include 'partials/salary_form_fields.twig' with { employee: employee } %}
                                                                <div class="field is-grouped is-grouped-left">
                                                                    <p class="control">
                                                                        <button type="submit" class="button is-success">Update</button>
                                                                    </p>
                                                                    <p class="control">
                                                                        <button type="button" class="button" onclick="closeModal('editModal-{{ employee.id }}')">Cancel</button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>

                                                <!-- Delete Confirmation Modal -->
                                                <div id="deleteModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-danger">
                                                            <p class="modal-card-title has-text-white">Confirm Deletion</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('deleteModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p>Are you sure you want to delete <strong>{{ employee.name }}</strong>?</p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <form action="/dashboard/salary/delete" method="post">
                                                                <input class="is-hidden" name="id" value="{{ employee.id }}">
                                                                <button type="submit" class="button is-danger">Delete</button>
                                                            </form>
                                                            <button class="button" onclick="closeModal('deleteModal-{{ employee.id }}')">Cancel</button>
                                                        </footer>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Add Modal -->
                                    <div id="allowanceModal" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head has-background-warning">
                                                <p class="modal-card-title has-text-white">Allowance Record</p>
                                                <button class="delete" aria-label="close" onclick="closeModal('allowanceModal')"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <form action="/payroll/allowance" method="post">
                                                    {% include 'partials/allowance_form_fields.twig' with { employee: {}, allowance: {}  } %}
                                                    <div class="field is-grouped is-grouped-left">
                                                        <p class="control">
                                                            <button type="submit" class="button is-success">Save</button>
                                                        </p>
                                                        <p class="control">
                                                            <button type="button" class="button is-light" onclick="closeModal('allowanceModal')">Cancel</button>
                                                        </p>
                                                    </div>
                                                </form>
                                            </section>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--Deductions-->
                            <div class="column is-6">
                                <div class="box">
                                    <p>Deductions</p>
                                    <hr>
                                    <div class="level mb-4">
                                        <div class="level-left">
                                            <button class="button is-small is-success" onclick="openModal('deductionModal')">
                                                <span class="mdi mdi-plus"></span>
                                                Add Deduction
                                            </button>
                                        </div>
                                    </div>

                                    {% if errors|length > 0 %}
                                        <div class="notification is-danger" id="errorNotification">
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if success %}
                                        <div class="notification is-success" id="successNotification">
                                            {{ success }}
                                        </div>
                                    {% endif %}

                                    <div class="table-container">
                                        <table id="myTable" class="table is-fullwidth is-hoverable is-striped is-bordered is-narrow">
                                            <thead>
                                            <tr class="is-size-7">
                                                <th>Employee</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Created At</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for deduction in deductions %}
                                                <tr>
                                                    <td>{{ deduction.employee_id }}</td>
                                                    <td>{{ deduction.type }}</td>
                                                    <td>{{ deduction.amount }}</td>
                                                    <td>{{ deduction.created_at | date('d F, Y') }}</td>
                                                    <td>
                                                        <button class="button is-small is-info" onclick="openModal('editModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-pencil"></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="button is-small is-danger" onclick="openModal('deleteModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-trash-can"></span>
                                                        </button>
                                                    </td>

                                                </tr>

                                                <!-- Edit Modal -->
                                                <div id="editModal-{{ deduction.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-warning">
                                                            <p class="modal-card-title has-text-white">Edit Deduction</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('editModal-{{ deduction.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <form action="/payroll/deduction/update" method="post">
                                                                <input type="hidden" name="id" value="{{ deduction.id }}">
                                                                {% include 'partials/salary_form_fields.twig' with { employee: employees, deduction: deductions } %}
                                                                <div class="field is-grouped is-grouped-left">
                                                                    <p class="control">
                                                                        <button type="submit" class="button is-success">Update</button>
                                                                    </p>
                                                                    <p class="control">
                                                                        <button type="button" class="button" onclick="closeModal('editModal-{{ deduction.id }}')">Cancel</button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>


                                                <!-- Delete Confirmation Modal -->
                                                <div id="deleteModal-{{ deduction.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-danger">
                                                            <p class="modal-card-title has-text-white">Confirm Deletion</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('deleteModal-{{ deduction.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p>Are you sure you want to delete deduction No. <strong>{{ deduction.id }}</strong>?</p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <form action="/payroll/deduction/delete" method="post">
                                                                <input class="is-hidden" name="id" value="{{ deduction.id }}">
                                                                <button type="submit" class="button is-danger">Delete</button>
                                                            </form>
                                                            <button class="button" onclick="closeModal('deleteModal-{{ deduction.id }}')">Cancel</button>
                                                        </footer>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Add Modal -->
                                    <div id="deductionModal" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head has-background-warning">
                                                <p class="modal-card-title has-text-white">Deduction Record</p>
                                                <button class="delete" aria-label="close" onclick="closeModal('deductionModal')"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <form action="/payroll/deduction/add" method="post">
                                                    {% include 'partials/salary_form_fields.twig' with { employee: {}, allowance: {}, deduction: {} } %}
                                                    <div class="field is-grouped is-grouped-left">
                                                        <p class="control">
                                                            <button type="submit" class="button is-success">Save</button>
                                                        </p>
                                                        <p class="control">
                                                            <button type="button" class="button is-light" onclick="closeModal('deductionModal')">Cancel</button>
                                                        </p>
                                                    </div>
                                                </form>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Full Salary Table-->
                            <div class="column is-full">
                                <div class="box">
                                    <p>Salary</p>
                                    <hr>
                                    <div class="level mb-4">
                                        <div class="level-left">
                                            <button class="button  is-success" onclick="openModal('addModal')">
                                                <span class="mdi mdi-cash-multiple"></span>
                                                Add Salary
                                            </button>
                                            <button class="button is-outlined is-primary ml-2" onclick="exportToExcel()">
                                                <span class="mdi mdi-file-excel "></span>
                                                Excel
                                            </button>
                                        </div>
                                    </div>

                                    {% if errors|length > 0 %}
                                        <div class="notification is-danger" id="errorNotification">
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if success %}
                                        <div class="notification is-success" id="successNotification">
                                            {{ success }}
                                        </div>
                                    {% endif %}

                                    <div class="table-container">
                                        <table id="myTable" class="table is-fullwidth is-hoverable is-striped is-bordered is-narrow">
                                            <thead>
                                            <tr class="is-size-7">
                                                <th>Employee</th>
                                                <th>Basic Pay</th>
                                                <th>Total Allowance</th>
                                                <th>Total Deductions</th>
                                                <th>Pay Frequency</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for salary in salaries %}
                                                <tr>
                                                    <td>{{ salary.name }}</td>
                                                    <td>{{ salary.basic_salary }}</td>
                                                    <td>{{ salary.total_allowance }}</td>
                                                    <td>{{ salary.total_deduction }}</td>
                                                    <td>{{ salary.pay_frequency }}</td>
                                                    <td>{{ salary.created_at | date('d F, Y')}}</td>
                                                    <td>
                                                        <button class="button is-small is-info" onclick="openModal('editModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-pencil"></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="button is-small is-danger" onclick="openModal('deleteModal-{{ employee.id }}')">
                                                            <span class="mdi mdi-trash-can"></span>
                                                        </button>
                                                    </td>

                                                </tr>

                                                <!-- Edit Modal -->
                                                <div id="editModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-warning">
                                                            <p class="modal-card-title has-text-white">Edit Salary</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('editModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <form action="/dashboard/salary/update" method="post">
                                                                <input type="hidden" name="id" value="{{ employee.id }}">
                                                                {% include 'partials/salary_form_fields.twig' with { employee: employee } %}
                                                                <div class="field is-grouped is-grouped-left">
                                                                    <p class="control">
                                                                        <button type="submit" class="button is-success">Update</button>
                                                                    </p>
                                                                    <p class="control">
                                                                        <button type="button" class="button" onclick="closeModal('editModal-{{ employee.id }}')">Cancel</button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </section>
                                                    </div>
                                                </div>

                                                <!-- Activate Confirmation Modal -->
                                                <div id="activateModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-warning">
                                                            <p class="modal-card-title has-text-white">Confirm Re-activation</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('activateModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p>Are you sure you want to Re-activate <strong>{{ employee.name }}</strong>?</p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <form action="/dashboard/salary/activate" method="post">
                                                                <input class="is-hidden" name="id" value="{{ employee.id }}">
                                                                <button type="submit" class="button is-primary">Activate</button>
                                                            </form>
                                                            <button class="button" onclick="closeModal('activateModal-{{ employee.id }}')">Cancel</button>
                                                        </footer>
                                                    </div>
                                                </div>

                                                <!-- Suspend Confirmation Modal -->
                                                <div id="suspendModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-warning">
                                                            <p class="modal-card-title has-text-white">Confirm Suspension</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('suspendModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p>Are you sure you want to freeze <strong>{{ employee.name }}</strong>?</p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <form action="/dashboard/salary/suspend" method="post">
                                                                <input class="is-hidden" name="id" value="{{ employee.id }}">
                                                                <button type="submit" class="button is-primary">Suspend</button>
                                                            </form>
                                                            <button class="button" onclick="closeModal('suspendModal-{{ employee.id }}')">Cancel</button>
                                                        </footer>
                                                    </div>
                                                </div>

                                                <!-- Delete Confirmation Modal -->
                                                <div id="deleteModal-{{ employee.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-background-danger">
                                                            <p class="modal-card-title has-text-white">Confirm Deletion</p>
                                                            <button class="delete" aria-label="close" onclick="closeModal('deleteModal-{{ employee.id }}')"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p>Are you sure you want to delete <strong>{{ employee.name }}</strong>?</p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <form action="/dashboard/salary/delete" method="post">
                                                                <input class="is-hidden" name="id" value="{{ employee.id }}">
                                                                <button type="submit" class="button is-danger">Delete</button>
                                                            </form>
                                                            <button class="button" onclick="closeModal('deleteModal-{{ employee.id }}')">Cancel</button>
                                                        </footer>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Add Modal -->
                                    <div id="addModal" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head has-background-warning">
                                                <p class="modal-card-title has-text-white">Salary Record</p>
                                                <button class="delete" aria-label="close" onclick="closeModal('addModal')"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                <form action="/dashboard/salary/add" method="post">
                                                    {% include 'partials/salary_form_fields.twig' with { employee: {} } %}

                                                    <div class="field is-grouped is-grouped-left">
                                                        <p class="control">
                                                            <button type="submit" class="button is-success">Save</button>
                                                        </p>
                                                    </div>
                                                </form>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        function openModal(id) {
            document.getElementById(id).classList.add('is-active');
        }
        function closeModal(id) {
            document.getElementById(id).classList.remove('is-active');
        }
        function exportToExcel() {
            const table = document.getElementById("myTable");
            const data = [];
            for (let row of table.rows) {
                let rowData = [];
                for (let i = 0; i < row.cells.length - 1; i++) {
                    rowData.push(row.cells[i].innerText);
                }
                data.push(rowData);
            }
            const worksheet = XLSX.utils.aoa_to_sheet(data);
            const workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, "Employees");
            XLSX.writeFile(workbook, "employees.xlsx");
        }
        setTimeout(function () {
            const errorNote = document.getElementById('errorNotification');
            const successNote = document.getElementById('successNotification');
            if (errorNote) {
                errorNote.style.transition = "opacity 0.5s ease";
                errorNote.style.opacity = 0;
                setTimeout(() => errorNote.remove(), 500);
            }
            if (successNote) {
                successNote.style.transition = "opacity 0.5s ease";
                successNote.style.opacity = 0;
                setTimeout(() => successNote.remove(), 500);
            }
        }, 5000);
    </script>
    <script>
        function togglePassword() {
            const input = document.getElementById("password");
            const icon = document.getElementById("toggleIcon");
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("mdi-eye-off");
                icon.classList.add("mdi-eye");
            } else {
                input.type = "password";
                icon.classList.remove("mdi-eye");
                icon.classList.add("mdi-eye-off");
            }
        }
    </script>
{% endblock %}
