<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-fullheight is-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-desktop">
                    <div class="">
                        <div class="card-content">
                            <figure class="image is-64x64" style="margin: 0 auto; border: 2px solid dodgerblue; border-radius: 50%">
                                <img class="is-rounded" src="/assets/img/logo.png">
                            </figure>
                            <h1 class="has-text-left has-text-weight-bold is-size-5 pt-4 pb-4">{{ pageName }}</h1>
                            {% if errors|length > 0 %}
                                <div class="notification is-danger">
                                    {% for error in errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if success|length > 0 %}
                                <div class="notification is-success">
                                    {% for succ in success %}
                                        <p>{{ succ }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form class=" pl-4 pr-4" action="/auth/forgot-password" method="post">
                                <div class="field ">
                                    <label class="">Email | Phone</label>
                                    <div class="control">
                                        <input class="input is-normal  is-link " id="username" name="username" type="text" placeholder="Enter your email or phone number" required>
                                    </div>
                                </div>
                                <div class="field has-text-centered mt-5">
                                    <button class="button is-info is-normal is-fullwidth">Reset Password</button>
                                </div>
                            </form>
                            <p class="mt-6">
                                Already have an account? <a href="/">Sign In</a>
                            </p>
                            <hr>
                            <p class="mt-5">All rights reserved, Copyright &copy; {{ "now"|date("Y") }} . Chalom Investments Limited</p>
                            <p><strong>Powered By:</strong> <a href="https://www.fortresshubtechnologies.com" target="_blank">Fortress Hub Technologies</a></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>